<h1> Users

<%= link_to "All Users", :action => "index" %>
|
<%= link_to "Users awaiting approval", :action => "index", :approved => "false" %>
</h1>
<table>
   <% @users.each do |user| %>
        <tr>
            <td> <%= user.email %> </td>
            <td> <%= user.approved %> </td>
            <td><%= link_to "Edit", edit_user_registration_path %></td>
         </tr>
    <%end%>
    </table>

