<!DOCTYPE html>
<html>
<head>
  <title>Configurator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="site-wrapper" style="background-image: url(http://upload.wikimedia.org/wikipedia/commons/b/bf/Lano_Beach_-_Savai'i,_2007.jpg)">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Confidential</h3>
              <ul class="nav masthead-nav">
              	<% if user_signed_in? %>
              	 Logged in as <strong> <%=current_user.email %> </strong> | 
              	 <%= link_to "Edit Profile", edit_user_registration_path, :class => 'navbar-link' %> | 
              	 <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %> 
              	  <div>
          	  		<br>
                	<li class="active"><a href="#">Home</a></li>
                	<li><a href="/dell">Dell Products</a></li>
                	<li><a href="/hp">HP Proliant</a></li>
                	<li><a href="/ibm">IBM System x</a></li>
                	<li><a href="/ciscoucs">Cisco UCS</a></li>
                	<li><a href="/intel">Intel Price List</a></li>
            	  </div>
            	<% else %>
            	  <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link' %> | 
            	  <%= link_to "Log In", new_user_session_path, :class => 'navbar-link' %>
            	  <% end %>
              </ul>
            </div>
          </div>

	<% if notice %> 
		<p class ="alert alert-sucess"><%=notice%> </p>
	<% end %>
	<% if alert %>
		<p class="alert alert-danger"><%=alert %> </p>
	<% end %> 

<%= yield %>

          </div>

        </div>

      </div>
     </div>
  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>
